// gradients
$introBg: linear-gradient(140deg, #ff8f70, #ff3d54);
$sectionBg: linear-gradient(rgba(44,45,63,1) 35%, rgba(63,65,100,1) 100%);
$footerBg: #25252d;

// headings
$headings: #1f3f5b;

// text
$lightText: #fff;
$darkText: #4b5862;  
$footerText: #c8c8cb;

// button text
$btn: #ff525d;

// hovers
$btnHover: #ff7a85;

