@use '../utilities/colors' as *;
@use '../utilities/fonts' as *;

@mixin headingFont {
    font-weight: $bold;
    font-family: $headingFont;
}

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin transition {
    transition: .3s ease-in-out;
}

@mixin hovers {
    background: $btnHover;
    color: $lightText;
}
