@media screen and (min-width: 1440px) {
    
    .intro, .design, .content-wrapper, .additional {
        margin-right: auto;
        margin-left: auto;
        max-width: 1440px;
    }

    header {
        background-image: url(../../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, #ff8f70, #ff3d54);
        background-position: 26% 51.5%;
        background-size: 220%, 100%;
        padding: 2rem 9rem;
    }

    .intro {
        h1 {
            font-size: 3.8rem;
        }
    }

    .design {
        gap: 4.5em;
        margin-bottom: 13em;
        img {
            top: -1.5em;
            height: 125%;
            left: 56%;
        }
        .col {
            padding-left: 9em;
            gap: 1.5em;
            width: 48%;
        }
    }

    .state {
        background-size: 70%, 100%;
        background-position: -50% 82%, 0% 0%;
    }

    .content-wrapper {
        img {
            left: 8%;
        }
        .col {
            padding-right: 9em;
            width: 47%;
        }
    }

    .additional {
        margin-top: 13em;
        margin-bottom: 12em;
        gap: 4.5em;
        img {
            top: -5em;
            right: 48%;
            height: 120%;
        }
        .col {
            gap: 1.5em;
            padding-right: 9em;
            width: 46%;
        }
    }

    footer {
        padding-right: 14em;
        gap: 12em;
    }

}