@media screen and (min-width: 992px) {

    .nav-container {
        #menu-toggle {
            display: none;
        }
    }

    nav {
        position: static;
        display: block;
    }

    .gn-items {
        display: block;
    }


}