p {
    font-family: 'Ubuntu';
    font-weight: 300;
    color: #4b5862;
    line-height: 1.9;
}

h1 {
    font-weight: 600;
    font-family: 'overpass';
}

h2, h3 {
    color: #1f3f5b;
}

h3 {
    font-size: 1.8rem;
    font-family: 'overpass';
    font-weight: 600;
}

a {
    text-decoration: none;
}

li {
    color: #1f3f5b;
    cursor: pointer;
    font-family: 'Ubuntu';
}

.col {
    display: flex;
    flex-direction: column;
}

hr {
    width: 100%;
    margin: -0.4em 0;
}

button {
    border: none;
    border-radius: 20px;
    padding: 0.8rem 1.3rem;
    font-family: 'Ubuntu';
    font-weight: 500;
}

.theme-wrapper {
    overflow: hidden;
}

header {
    background-image: url(../../images/bg-pattern-intro-mobile.svg), linear-gradient(140deg, #ff8f70, #ff3d54);
    background-position: 35% 32%;
    background-size: 365%, 100%;
    border-bottom-left-radius: 100px;
    height: 650px;
    padding: 4rem 1.5rem;
    color: #fff;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav {
    position: absolute;
    top: 4.5em;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 2em;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
}

.gn-items {
    text-align: center;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    font-size: 1.15rem;
    img {
        padding-left: 0.3em;
    }
    .dd-items {
        background-color: #eaeaea;
        border-radius: 5px;
        margin-top: 1em;
        padding: 1em 0;
        display: none;
        li {
            padding: 0.5em 0;
            font-weight: 300;
            font-size: 1rem;
        }
    }
    .account {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5em;
        button {
            color: #fff;
            background: linear-gradient(90deg, #ff8f70, #ff3d54);
            border-radius: 50px;
            padding: 0.9rem 2.4rem;
            font-size: 1rem;
        }
    }
}

.intro {
    margin-top: 7.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    h1 {
        font-size: 2.2rem;
        line-height: 1.3;
        span {
            display: block;
        }
    }
    p {
        color: #fff;
        font-size: 1.11rem;
        line-height: 1.4;
    }
    .btn-g {
        display: flex;
        gap: 1rem;
        margin-top: 2.5rem;
        justify-content: center;
        .fill {
            background-color: #fff;
            color: #ff525d;
        }
        .outline {
            background-color: transparent;
            color: #fff;
            border: 1px solid #fff;
        }
    }
}

.design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 6em;
    margin-bottom: 18em;
    padding: 0 1.5rem;
    gap: 3em;
    text-align: center;
    h2 {
        font-size: 1.7rem;
        font-family: 'overpass';
        font-weight: 600;
    }
    .col {
        width: 90%;
        gap: 1rem;
        h3 {
            line-height: 1.2;
        }
    }
}

.state {
    background-image: url(../../images/bg-pattern-circles.svg), linear-gradient(rgba(44,45,63,1) 35%, rgba(63,65,100,1) 100%);
    background-size: 160%;
    background-repeat: no-repeat;
    background-position: 50% -470%;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    width: 100%;
    height: 650px;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: inherit;
    img {
        position: absolute;
        width: 26em;
        top: -12em;
        right: auto;
    }
    .col {
        margin-top: 8em;
        gap: 1.5em;
        width: 80%;
        h2 {
            font-size: 2.2rem;
            font-family: 'overpass';
            font-weight: 600;
            line-height: 1.2;
            color: #fff;
        }
        p {
            color: #fff;
        }
    }
}

.additional {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 4em;
    gap: 3em;
    text-align: center;
    .col {
        gap: 1.5em;
        width: 82%;
    }
}

footer {
    background-color: #25252d;
    border-top-right-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-top: 5em;
    padding: 5em 0;
    text-align: center;
    img {
        margin-bottom: 2em;
    }
    .col {
        h4 {
            font-family: 'Overpass';
            font-size: 1.2rem;
        }
        margin-top: 3em;
        gap: 1.5em;
        ul li {
            padding: 0.5em 0;
            color: #c8c8cb;
        }
    }
}

@media screen and (min-width: 768px) {

    header {
        background-size: 240%, 100%;
        background-position: 30% 45%;
    }

    .intro {
        margin-top: 9em;
        h1 {
            font-size: 2.5rem;
            span {
                display: inline;
            }
        }
    }

    .design {
        margin-bottom: 21em;
        h2 {
            font-size: 2.5em;
        }
    }

    .state {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 0 155%;
        border-bottom-left-radius: 100px;
        border-top-right-radius: 100px;
        height: 550px;
    }

    .content-wrapper {
        img {
            width: 30em;
            top: -45%;
        }
    }
}


@media screen and (min-width: 992px) {

    header {
        background-image: url(../../images/bg-pattern-intro-desktop.svg), linear-gradient(140deg, #ff8f70, #ff3d54);
        padding: 2em 3em;
    }

    .nav-container {
        #menu-toggle {
            display: none;
        }
    }

    nav {
        position: static;
        display: block;
        background-color: transparent;
        box-shadow: none;
    }

    hr {
        display: none;
    }

    .gn-items {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: 2em;
        font-size: 1rem;
        color: #fff;
        li {
            color: #fff;
            font-weight: 300;
        }
        .account {
            flex-direction: row;
            margin-left: auto;
            button {
                background: #fff;
                font-size: 1rem;
                font-weight: 600;
                color: #ff3d54;
                padding: 0.8em 2.2em
            }
        }
    }

    .intro {
        margin-top: 7em;
    }

    .design {
        position: relative;
        height: 700px;
        margin-bottom: 12em;
        h2 {
            font-size: 2.5rem;
            margin-bottom: 1.5em;
        }
        img {
            position: absolute;
            top: 9em;
            left: 60%;
            height: 80%;
        }
        .col {
            width: 50%;
            margin-right: auto;
            text-align: left;
            padding-left: 3em;
        }
    }

    .state {
        height: 380px;
        background-size: 100%;
        background-position: 100% 50%;
    }

    .content-wrapper {
        img {
            left: 0;
            top: -19%;
            width: 30em;
        }
        .col {
            width: 50%;
            text-align: left;
            margin-left: auto;
            padding-right: 3em;
            margin-top: 0;
        }
    }

    .additional {
        position: relative;
        margin: 8em 0;
        height: 700px;
        img {
            position: absolute;
            top: 10%;
            right: 51%;
            height: 85%;
        }
        .col {
            text-align: left;
            width: 50%;
            margin-left: auto;
            padding-right: 3em;
        }
    }

    footer {
        padding-right: 9em;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        text-align: center;
        gap: 7.5em;
        img {
            width: 10%;
        }
        .col {
            margin-top: 0.5em;
            text-align: left;
        }
    }
}

@media screen and (min-width: 1280px) {

    header {
        padding: 2em 6em;
    }

    .intro {
        h1 {
            font-size: 3.5rem;
        }
    }

    .design {
        margin-bottom: 13em;
        img {
            top: 3em;
            height: 100%;
            left: 60%;
        }
        .col {
            padding-left: 6em;
        }
    }

    .state {
        height: 420px;
    }

    .content-wrapper {
        img {
            top: -19%;
            left: 2%;
            width: 37em;
        }
    }

    .additional {
        margin: 10em 0 6em 0;
        gap: 4.5em;
        img {
            top: -2em;
            right: 52%;
            height: 100%;
        }
        .col {
            gap: 1.5em;
            padding-right: 6em;
        }
    }
    footer {
        gap: 10em;
        padding-right: 12em;
        img {
            width: 5em;
        }
    }
}


@media screen and (min-width: 1440px) {
    
    .intro, .design, .content-wrapper, .additional {
        margin-right: auto;
        margin-left: auto;
        max-width: 1440px;
    }

    header {
        background-image: url(../../images/bg-pattern-intro-desktop.svg), linear-gradient(90deg, #ff8f70, #ff3d54);
        background-position: 26% 51.5%;
        background-size: 220%, 100%;
        padding: 4rem 9rem;
    }

    .intro {
        margin-top: 6em;
        h1 {
            font-size: 3.8rem;
        }
    }

    .design {
        gap: 4.5em;
        margin-bottom: 13em;
        img {
            top: -1.5em;
            height: 125%;
            left: 56%;
        }
        .col {
            padding-left: 9em;
            gap: 1.5em;
            width: 48%;
        }
    }

    .state {
        background-size: 70%, 100%;
        background-position: -50% 82%, 0% 0%;
    }

    .content-wrapper {
        img {
            left: 8%;
        }
        .col {
            padding-right: 9em;
            width: 47%;
        }
    }

    .additional {
        margin-top: 13em;
        margin-bottom: 12em;
        gap: 4.5em;
        img {
            top: -5em;
            right: 48%;
            height: 120%;
        }
        .col {
            gap: 1.5em;
            padding-right: 9em;
            width: 46%;
        }
    }

    footer {
        padding-right: 14em;
        gap: 12em;
    }

}

